/* @import '../../../node_modules/react-beautiful-horizontal-timeline/card.css'; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

h1{
  font-family: 'Inter';
  font-size: 1vw;
  text-align: center;
  font-weight: normal;
}

.about{
  min-height: 100vh;
}

.history{
  background-color: #D9D9D9;
}

.timeline {
    text-align: left;
}

.mission-and-vision{
    font-size: 1vw;
}

.timeline-container {
    overflow-x: auto;
    padding: 20px;
  }
  
  .timeline {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .timeline-event {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .event-year {
    font-weight: bold;
  }
  
  .event-content h3 {
    margin-top: 5px;
  }

.awards{
  /* background-color: red; */
  margin-top: 5vh;;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.awards-pic{
  flex: 0.5;
  /* background-color: green; */
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: transparent;
}

.awards-text{
  flex: 0.5;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 5vw;
  margin-left: 2vw;
  margin-right: 2vw;
  height: min-content;
}

.awards-banner{
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 13%;
  background-color: #FFF7AB;
  z-index: -1;
}

/* 
.awards-text{
  flex: 0.7;
}

.awards-container{
  display: flex;
  flex-direction: row;  
  background-color: #FFF7AB;
  height: 40vh;
  position: relative;
}

.awards-sub-text{
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: bold;
}

.awards{
  margin-bottom: 150px;
}


.awards-picture{
  flex: 0.3;
}

.awards-picture img{
  padding-left: 25px;
  padding-right: 25px;
}
   */
  @media (min-width: 768px) { /* Adjust this breakpoint as needed */
    .timeline {
      flex-direction: row;
    }
  
    .timeline-event {
      flex-direction: row;
      align-items: center; /* Align items center in horizontal mode */
      margin: 0 40px; /* Space out events horizontally */
    }
  
    .event-year {
      margin-right: 15px;
    }
  
    .event-content {
      max-width: 200px; /* Prevents content from stretching too wide */
    }
}
  