@import '../../../node_modules/react-beautiful-horizontal-timeline/card.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

h1{
  font-family: 'Inter';
}

.history{
  background-color: #D9D9D9;
}

.timeline {
    text-align: left;
}

.mission-and-vision{
    font-size: 1vw;
}

.timeline-container {
    overflow-x: auto;
    padding: 20px;
  }
  
  .timeline {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .timeline-event {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .event-year {
    font-weight: bold;
  }
  
  .event-content h3 {
    margin-top: 5px;
  }

.awards-text{
  flex: 0.7;
}

.awards-container{
  display: flex;
  flex-direction: row;  
  background-color: #FFF7AB;
  height: 40vh;
  position: relative;
}

.awards-sub-text{
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: bold;
}

.awards{
  margin-bottom: 150px;
}


.awards-picture{
  flex: 0.3;
  /* margin-left: 30px;
  margin-top: -20px; */
}

.awards-picture img{
  padding-left: 25px;
  padding-right: 25px;
  /* width: 39vw;
  padding: -70px 0; */
  /* width: 100%; */
  /* margin: auto;
  display: block;  */
}
  
  @media (min-width: 768px) { /* Adjust this breakpoint as needed */
    .timeline {
      flex-direction: row;
    }
  
    .timeline-event {
      flex-direction: row;
      align-items: center; /* Align items center in horizontal mode */
      margin: 0 40px; /* Space out events horizontally */
    }
  
    .event-year {
      margin-right: 15px;
    }
  
    .event-content {
      max-width: 200px; /* Prevents content from stretching too wide */
    }
}
  