.techprojects_container {
  padding: 20px; /* Add padding to move away from the borders */
}

/* Styles for column container */
.column_container {
  display: flex;
}

/* Styles for image container */
.image_container {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

/* Styles for text container */
.text_container {
  flex: 2; /* Make text container occupy two thirds of the desktop */
}

/* Additional styles for image */
.image_container img {
  display: flex;
  margin-left:auto;
  margin-right: auto;
  max-width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    flex: 1 1 auto;
    /* Allow images to grow and shrink */
    object-fit: cover;

}
.overview_container {
  display: flex;
  flex-direction: row;
}