.techprojects_container {
  padding: 20px; /* Add padding to move away from the borders */
}

/* Styles for column container */
.column_container {
  display: flex;
}

/* Styles for image container */
.image_container {
  flex: 1; /* Make image container occupy one third of the desktop */
}

/* Styles for text container */
.text_container {
  flex: 2; /* Make text container occupy two thirds of the desktop */
}

/* Additional styles for image */
.image_container img {
  width: 100%; /* Ensure image fills the container */
  height: auto; /* Maintain aspect ratio */
}
