.footer {
  background-color: #001d3a;
  width: 100%;
  margin-top: auto;
  color: white;
  font-size: 25px;
}

.footerDiv{
  display: flex; 
  justify-content: space-between;
  padding: 20px;
}

.SOLES{
  display: flex; 
  flex: 0 0 10%; 
  align-items: center; 
}

.issues{
  display: flex;
  width: 500px; 
}

.newsletter{
  display: flex;
}
.contactUs{
  display: flex; 
  width: auto;
}