@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.hamburger{
    display: none;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    /* margin: 0; */
    padding: 0; 
    margin-left: auto;
}

.navBar a{
    text-decoration: none;
    height: 100%;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.navBar{
    font-family: 'Inter';
    width: 100%;
    height: 13vh;
    background-color: #001d3a;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 0 1vw; */
}

.home-page img{
    height: 100%;
    margin-left: 1vw;
}

.navBar ul li{
    margin: 0 1vw;
    padding: 15px;
    border-radius: 40px;
    list-style-type: none;
}

.navBar ul li:hover{
    background-color: rgb(254,254,84);
    cursor: pointer;
    transition: 0.4s;
    a{
        color: #001d3a;
    }
}

@media (max-width: 1600px) {
    .hamburger{
        display: flex;
        z-index: 10;
        margin-left: auto;
        margin-right: 1vw;
        svg{
            height: 7vh;
            width: 7vh;
        }
    }

    .nav-links {
        display: none;
    }
}
