@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.navbar {
    background-color: #001d3a !important;
    height: 14vh;
    display: flex;
    align-items: center;
    padding: 0 1rem; /* Adjust padding if needed */
}

.navbar-nav .nav-item {
    padding: 0 0.8rem; /* Adjust horizontal padding between items */
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    font-family: 'Inter';
    transition: font-size 0.3s ease-in-out;
    border-radius: 40px;
}

.navbar-nav .nav-link:hover{
    color: #001d3a;
    background-color: rgb(254,254,84);
    cursor: pointer;
    transition: 0.6s;
}

@media (max-width: 992px) {
    .navbar-nav .nav-link {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }
}


/* .hamburger{
    display: none;
    z-index: 10;
    margin-left: auto;
    margin-right: 1vw;
    cursor: pointer;
}

.nav-links{
    list-style: none;
    display: flex; 
    align-items: center;
    margin-left: auto;
}

.navBar a{
    text-decoration: none;
    height: 100%;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.navBar{
    font-family: 'Inter';
    width: 100%;
    height: 13vh;
    background-color: #001d3a;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.home-page img{
    height: 100%;
    margin-left: 1vw;
}

.navBar ul li{
    margin: 0 1vw;
    padding: 15px;
    border-radius: 40px;
    list-style-type: none;
}

.navBar ul li:hover{
    background-color: rgb(254,254,84);
    cursor: pointer;
    transition: 0.4s;
    a{
        color: #001d3a;
    }
}

@media (max-width: 800px) {
    .hamburger{
        display: flex;
        z-index: 10;
        margin-left: auto;
        margin-right: 1vw;
        svg{
            height: 7vh;
            width: 7vh;
        }
    }

    .nav-links {
        display: none;

        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #001d3a;
        flex-direction: column; 
        align-items: center; 
        top: 13vh; 
        left: 0;
        z-index: 1000;
    }

    .nav-links.show {
        display: flex;
    }
} */
