@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.hamburger{
    display: none;
    z-index: 10;
    margin-left: auto;
    margin-right: 1vw;
    cursor: pointer;
}

.nav-links{
    list-style: none;
    display: flex; /* Inline layout for larger screens */
    align-items: center;
    margin-left: auto; /* Align to the right */
}

.navBar a{
    text-decoration: none;
    height: 100%;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.navBar{
    font-family: 'Inter';
    width: 100%;
    height: 13vh;
    background-color: #001d3a;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 0 1vw; */
    position: fixed; /* Make the navbar fixed */
    top: 0; /* Position it at the top of the page */
    z-index: 100; /* Ensure it appears above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.home-page img{
    height: 100%;
    margin-left: 1vw;
}

.navBar ul li{
    margin: 0 1vw;
    padding: 15px;
    border-radius: 40px;
    list-style-type: none;
}

.navBar ul li:hover{
    background-color: rgb(254,254,84);
    cursor: pointer;
    transition: 0.4s;
    a{
        color: #001d3a;
    }
}

@media (max-width: 800px) {
    .hamburger{
        display: flex;
        z-index: 10;
        margin-left: auto;
        margin-right: 1vw;
        svg{
            height: 7vh;
            width: 7vh;
        }
    }

    .nav-links {
        display: none;

        position: absolute;
        width: 100%; /* Full width */
        height: 100%;
        background-color: #001d3a; /* Match navbar color */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
        top: 13vh; /* Position below the navbar */
        left: 0;
        z-index: 1000;
    }

    .nav-links.show {
        display: flex; /* Show nav-links when hamburger is clicked */
    }
}
